:root{
  --pink: #FF00FF
  --cyan: #00FFFF
}

a:link{color: #00FFFF}
a:visited{color: #FF00FF}

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
    }

    body {
           background-color: black;
           color: white;
           font-size: 20px;

           padding: 10px;

         }

         @media screen and (min-width: 950px) { /* for large screens */
           body {
             padding-left: 20%;
             padding-right: 20%;
             font-size: 25px;
                 }


                 .topnav {
background-color: black;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #00FFFF;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a:visited {
background-color: #ddd;
color: #00FFFF;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #FF00FF;
color: white;
}


                                               }
